<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!-- You might want to try something fancier: -->
<!-- html/nunjucks docs: https://mozilla.github.io/nunjucks/ -->
<!-- pug: https://pugjs.org/ -->
<!-- haml: http://haml.info/ -->
<!-- hbs(handlebars): http://handlebarsjs.com/ -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Sarah's Marvel API Project 1</title>
    <meta name="description" content="Marvel API Project 1">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i,900,900i" rel="stylesheet">
    <link rel="stylesheet" href="https://use.typekit.net/joj8flu.css">
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    
   
  </head>
  <body>
    <header>
      
    </header>

    <body>
         <section class="panel blue">
             <div class="center">
               <div class="flex intro-panel">
                   <h1>
                      MARVEL: <span id="outline">A PRIMER</span>
                  </h1>
               </div>
               <div class="flex">
                  <h2 id="intro-subheading">
                    (but like, for dummies)
                  </h2>
               </div>
           </div> 
        </section>
        <section class="panel off-white">
             <div class="grid-2 flex">
               
               <div id="panel-2-title">
                  <h1>
                    IMAGINE THIS:
                 </h1>
               </div>
               <div id="panel-2-text">
                  <p>
                    <span class="bold">01.</span> You’re on a date with your Future Spouse (they just don’t know it yet. it's your first date. you're not crazy, we get it.) <br>
                    <span class="bold">02.</span> Everything is going great until <br>
                    <span class="bold">03.</span> They start talking about how they can’t live without Marvel <br>
                    <span class="bold">04.</span> becaaaaauuuusee <br>
                    <span class="bold">05.</span> You actually hate Marvel movies and have avoided watching them for your entire life, but you panic so you say: <br>
                    <span class="bold">06. "OMG I LOVE MARVEL MOVIES.</span> I’ve been like, the hugest fan of them since childhood.” <br>
                    <span class="bold"> 07.</span> Oh no. <br>
                    <span class="bold"> 08.</span> But it gets worse because you just made plans to watch Avengers End Game AKA God Please End My Life or whatever with them <br>
                    <span class="bold">09.</span> You quickly dismiss yourself to the bathroom and start frantically *~*Googling*~* <br>
                    <span class="bold">10.</span> And now you have about 5 minutes to become the leading Marvel expert and act like you are So Into This™ <br>
                 </p>
               </div>
               <div id="panel-2-footer">
                 
                <p>
                   Look no further
                 </p>  
               </div>
          </div>
        </section>
        <section class="panel green">
          <div class="grid-3">
            <div class="panel-3-titles item">
              01. CHARACTERS <br> 
              welcome to my Ted Talk!! 
            </div>
            <div class="iron-man">
              heroes
            </div>
            
            <div class="captain-america">
              aliens
            </div>
            
            <div class="thor">
              fights
            </div>
            
            <div class="black-widow">
              heroes
            </div>
            
            <div class="black-panther">
              heroes
            </div>
            
            <div class="spider-man">
              heroes
            </div>
            
          </div>
        </section>
        <section class="panel bordeaux">
              <div class="grid-2 flex">
               
               <div id="panel-3-title">
                  <h1>
                    CHARTS
                 </h1>
                 <h2>
                   For the mathy poeple out there
                 </h2>
               </div>
               <div id="chart">
                  
                 
               </div>
               <div id="panel-3-footer">
                <p>
                   Look no further
                 </p>  
                </div>
          </div>
        </section>
      
      <section class="panel white">
       <p>
          last section 
        </p>
        
      </section>
      
    </body>

    <footer>
      Made with <a href="https://glitch.com">Glitch</a>!
    </footer>

    <!-- include the Glitch button to show what the webpage is about and
          to make it easier for folks to view source and remix -->
    <div class="glitchButton" style="position:fixed;top:20px;right:20px;"></div>
    <script src="https://button.glitch.me/button.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.6/ScrollMagic.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.6/plugins/debug.addIndicators.min.js"></script>
     <script src="/client.js"></script>
  </body>
</html>
