/* styles */
/* called by your view template */

/* {
  box-sizing: border-box;
}*/

body {
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  margin: 0 auto;
}


.panel {
  height: 100vh;
  width: 100vw;
}

.panel .green {
  margin-bottom: 400px;
}

.blue { 
  background-color: blue;
}

.green { 
  background-color: green;
}

.turqoise { 
  background-color: red;
}

.bordeaux { 
  background-color: maroon;
}



