/* styles */
/* called by your view template */

/* {
  box-sizing: border-box;
}*/

body {
  /* font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif; */ 
  font-family: futura-pt, sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 0 auto;
  color: #222222;
}

h1 {
  font-family: futura-pt, sans-serif;
  font-weight: 700;
  font-style: normal;
}

h2 { 
  font-family: 'Playfair Display', serif;
}
  

.panel {
  height: 100vh;
  width: 100vw;
}

.panel {
  margin-bottom: 600px;
}

.blue { 
  background-color: maroon;
}

.green { 
  background-color: green;
}

.turqoise { 
  background-color: red;
}

.bordeaux { 
  background-color: maroon;
}

.white {
  background-color: white;
}

/* flex */ 
.flex { 
  display: flex; 
  justify-content: center; 
  align-items: center;
}


/* panel 1 */



